@font-face {
   font-family: "Roboto-Regular", sans-serif;
   src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
   font-weight: 400;
   font-display: swap;
}

@font-face {
   font-family: "icons";
   src: url("../fonts/icons.ttf?9nh5sd") format("truetype"), url("../fonts/icons.woff?9nh5sd") format("woff"),
      url("../fonts/icons.svg?9nh5sd#icons") format("svg");
   font-weight: normal;
   font-style: normal;
   font-display: block;
}

[class^="_icon-"],
[class*=" _icon-"] {
   /* use !important to prevent issues with browser extensions that change fonts */
   font-family: "icons" !important;
   speak: never;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;

   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

._icon-search:before {
   content: "\f002";
}
._icon-envelope-o:before {
   content: "\f003";
}
._icon-user:before {
   content: "\f007";
}
._icon-th-large:before {
   content: "\f009";
}
._icon-th-list:before {
   content: "\f00b";
}
._icon-close:before {
   content: "\f00d";
}
._icon-remove:before {
   content: "\f00d";
}
._icon-times:before {
   content: "\f00d";
}
._icon-lock:before {
   content: "\f023";
}
._icon-map-marker:before {
   content: "\f041";
}
._icon-edit:before {
   content: "\f044";
}
._icon-pencil-square-o:before {
   content: "\f044";
}
._icon-shopping-cart:before {
   content: "\f07a";
}
._icon-heart-o:before {
   content: "\f08a";
}
._icon-phone:before {
   content: "\f095";
}
._icon-twitter:before {
   content: "\f099";
}
._icon-facebook:before {
   content: "\f09a";
}
._icon-facebook-f:before {
   content: "\f09a";
}
._icon-bell-o:before {
   content: "\f0a2";
}
._icon-briefcase:before {
   content: "\f0b1";
}
._icon-group:before {
   content: "\f0c0";
}
._icon-users:before {
   content: "\f0c0";
}
._icon-caret-down:before {
   content: "\f0d7";
}
._icon-sort:before {
   content: "\f0dc";
}
._icon-unsorted:before {
   content: "\f0dc";
}
._icon-linkedin:before {
   content: "\f0e1";
}
._icon-comment-o:before {
   content: "\f0e5";
}
._icon-comments-o:before {
   content: "\f0e6";
}
._icon-bolt:before {
   content: "\f0e7";
}
._icon-flash:before {
   content: "\f0e7";
}
._icon-angle-right:before {
   content: "\f105";
}
._icon-angle-down:before {
   content: "\f107";
}
._icon-mail-reply:before {
   content: "\f112";
}
._icon-reply:before {
   content: "\f112";
}
._icon-meh-o:before {
   content: "\f11a";
}
._icon-location-arrow:before {
   content: "\f124";
}
._icon-cny:before {
   content: "\f157";
}
._icon-jpy:before {
   content: "\f157";
}
._icon-rmb:before {
   content: "\f157";
}
._icon-yen:before {
   content: "\f157";
}
._icon-sort-amount-desc:before {
   content: "\f161";
}
._icon-foursquare:before {
   content: "\f180";
}
._icon-pagelines:before {
   content: "\f18c";
}
._icon-pinterest-p:before {
   content: "\f231";
}
